# Unity generated folders
Library/*
Temp/*
Obj/*
Logs/*
MemoryCaptures/*
UserSettings/*

# Build outputs
Build/*
Builds/*

# Rider / VSCode / JetBrains
.idea/
.vscode/
*.sln
*.csproj
*.unityproj

# OS files
.DS_Store

# Unity crash reports
sysinfo.txt
